h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Slackside One", cursive;
    font-weight: 300;
    font-style: normal;
    font-size:larger;
    
}